.subtitle {
  margin-bottom: 50px;
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-size: 36px;
  letter-spacing: 0.03em;
  line-height: 1.6;
  text-align: center;
  color: var(--title-color);
}
